{{define "auth"}}
<!-- Checkbox to trigger the modal -->
<input type="checkbox" id="modal-toggle" class="modal-toggle" {{if .ShowModal}}checked{{end}}>

<!-- Modal Trigger Button -->
<label for="modal-toggle" class="modal-open" style="display: inline-block;">Login or Register🦁🔑</label>


<!-- The Modal -->
<div class="modal">
    <!-- Background clickable area -->
    <label for="modal-toggle" class="modal-overlay"></label>

    <div class="modal-content">
        <label for="modal-toggle" class="modal-close">&times;</label>
        <h2>Welcome 🦁!</h2>
        <p>Select a tab to login or register🔑</p>

       <!-- Tab Radio Buttons -->
       <input type="radio" id="login-tab" name="auth-tab" {{if not .RegistrationError}}checked{{else}}class="hidden"{{end}} {{if .LoginError}}checked{{end}}>
       <input type="radio" id="register-tab" name="auth-tab" {{if .RegistrationError}}checked{{else}}class="hidden"{{end}} {{if not .LoginError}}checked{{end}}>

        <!-- Tab Labels -->
        <div class="tab-container">
            <label for="login-tab" class="tab">Login</label>
            <label for="register-tab" class="tab">Register</label>
        </div>

        <div class="tab-content">
            <!-- Login Form -->
            <div id="login-form" class="auth-form">
                <h3>Login</h3>
                {{if .LoginError}}
                <p style="color: red;">{{.LoginError}}</p>
                {{end}}
                <form action="/home" method="POST">
                    <input type="hidden" name="csrf_token" value="{{.CsrfToken}}">
                    <input type="hidden" name="action" value="login">
                    <label for="login-email">Email:</label><br>
                    <input type="email" id="login-email" name="email" required autocomplete="off"><br><br>
                    <label for="login-password">Password:</label><br>
                    <input type="password" id="login-password" name="password" required autocomplete="off"><br><br>
                    <input type="submit" value="Login">
                </form>
            </div>

            <!-- Register Form -->
            <div id="register-form" class="auth-form">
                <h3>Register</h3>
                {{if .RegistrationError}}
                <p style="color: red;">{{.RegistrationError}}</p>
                {{end}}
                <form action="/home" method="POST">
                    <input type="hidden" name="csrf_token" value="{{.CsrfToken}}">
                    <input type="hidden" name="action" value="register">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" required><br>
                    <label for="register-email">Email:</label><br>
                    <input type="email" id="register-email" name="email" required autocomplete="off"><br>
                    <label for="register-password">Password:</label><br>
                    <input type="password" id="register-password" name="password" required autocomplete="off"><br>
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</div>

{{end}}
