{{ define "create_post" }}
<div class="container">
    <h1>Create New Post</h1>
    <div class="create-post-section">
        <form action="posts/create" method="POST">           
            
                <label for="post-title" class="form-label">Title:</label><br>
                <input type="text" id="title" name="title" maxlength="100"class="form-input" required><br><br>

                <label for="post-content" class="form-label">Body:</label><br>
                <textarea type="text" id="body" name="body" maxlength="600" class="form-textarea" required></textarea><br><br>
            
                <label for="category">Category:</label> 
                <select id="category" name="category_id" required>
                    <option value="">Select a Category</option>
                    {{range .Categories}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
                            </div>
            <div class="form-group">
                <input type="submit" value="Create Post" class="form-button">
            </div>
        </form>
    </div>
</div>
{{ end }}
