<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="static/home.css">
    <link rel="stylesheet" href="static/modal.css">
    <link rel="icon" href="/static/images/lion-icon.png" type="image/png">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="static/images/lion-icon.png" alt="Logo" class="logo">
            <h1> Feeling your inner-r-rr-rrr lion?</h1>

            <p class="welcome-message">Welcome to Literary Lions Forum! Here you can embrace the power of online discussions, fostering deeper connections, enriching their reading journeys, and ensuring the book club roars with literary passion ;-))</p>
        </div>
        <div class="search-bar">
            <form action="/search" method="GET" class="search-form">
                <input type="text" id="keywords" name="keywords" placeholder="Search posts, topics, or users..." class="search-input" required>
                <button type="submit" class="search-button">Search 🔍</button>
            </form>            
        </div>                                       

        {{if not .IsLoggedIn}}
        {{template "auth" .}}
        {{else}}
            {{if .LoginSuccessMessage}}
                <div class="success-message">
                    {{.LoginSuccessMessage}}
                </div>
            {{end}}

            <br><p class="message">You are logged in! Feel free to comment💬, like👍, create a post below📝 or go to your <a href="/profile">profile</a>.</p>
            <form action="/logout" method="POST" class="logout-container">
                <button type="submit" class="logout-button">Log Out 🔓</button>
            </form>            

            {{template "create_post" .}}
        {{end}}

        {{template "categories" .}}

        <div class="footer">
            <p>&copy; 2024 Literary Lions Forum</p>
        </div>
    </div>
</body>
</html>
