<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="static/home.css">
    <!-- <link rel="stylesheet" href="static/modal.css"> -->
  
</head>
<body>
    <div class="container">
    <div class="posts-section">
    <h1>All Posts</h1>
    <a href="/posts/create">Create New Post🖋️</a>
    {{range .}}
    <h2>{{.Title}}</h2>
    <p>{{.Body}}</p>

    <!-- Like form -->
    <form action="/posts/like" method="POST">
        <input type="hidden" name="post_id" value="{{.ID}}">
        <button type="submit">Like🤩</button>
    </form>
    <!-- Dislike form -->
    <form action="/posts/dislike" method="POST">
        <input type="hidden" name="post_id" value="{{.ID}}">
        <button type="submit">Dislike👿</button>
    </form>
<!-- Likes Dislikes-->
    <p>🤩: {{.LikeCount}} | 👿: {{.DislikeCount}}</p>
    {{end}}
    </div>
</div>
<!-- Footer Section -->
<div class="footer">
    <p>&copy; 2024 Literary Lions Forum</p>
    </div>
</div>
</body>
</html>
