/* General body styling */
body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    color: #8B0000; 
    letter-spacing: 1px;
}
.home-button {
    display: block;
    text-align: center;
    padding: 12px 20px;
    background-color: #046871; 
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
    margin: 20px auto; 
    transition: background-color 0.3s ease;
}

/* Container Styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        padding: 10px; 
    }
}

/* Header and Logo */
.header {
    color: #ff4500;
    text-align: center;
    margin-top: 20px;
}

.logo {
    max-width: 250px;
    height: auto;
}

/* Welcome Message */
.welcome-message, .message {
    font-family: 'Roboto', sans-serif;
    color: #8B0000;
    font-size: 24px;
    font-weight: bold;
    text-align: justify; 
    width: 100%;
}


/* Error title and message */
.error-title {
    font-size: 6rem; 
    text-align: center; 
    color: #8B0000;
    margin: 0;
    font-weight: bold;
}

.error-message {
    font-size: 2.5rem; 
    color: #8B0000;
    margin: 20px 0 30px;
}

/* Button styling to match theme */
.home-button {
    background-color: #046871;  
    color: white; 
    padding: 10px 20px;  
    font-size: 16px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    box-shadow: none;
}

.home-button:hover {
    background-color: #AA2D2D;   
    color: white; 
}

/* Footer Styling */
.footer{
    text-align: center;
    padding: 10px;
    background-color: #046871;
    color: white !important;
    width: 100%;  
    max-width: 1200px;
    margin: 20px auto; 
    box-sizing: border-box; 
    border-radius: 8px;   
}

.footer * {
    color: white !important;
}

.footer p {
    margin: 0; 
    padding: 0;
}
