/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    background-color: #f5f5f5;
}

/* Global Font Style */
h2, h3, h4, h5, h6, input, button,
.modal-content,  
.modal-content h2,
.modal-content p,
.modal-content input,
.modal-content label,
.modal-content button {  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;  
    color: #8B0000; 
    letter-spacing: 1px;
}
 body, p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
    color: #8B0000; 
    letter-spacing: 1px;
 }



/* Global Button Styling */
button, 
.buttons,  
.auth-section button, 
.post-input, 
.button-class,
.modal-content button {  
    background-color: #046871;  
    color: white; 
    padding: 10px 20px;  
    font-size: 16px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    box-shadow: none;
}

.logout-container {
    display: flex; 
    justify-content: center; 
    margin: 0; 
    padding: 0; 
    border: none; 
    box-shadow: none; 
    background: none; 
}

.logout-button {
    display: inline-block; 
    padding: 10px 20px;
    background-color: #046871;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, 
.buttons:hover, 
.logout-button:hover, 
.search-button:hover, 
.auth-section button:hover, 
.post-input:hover, 
.button-class:hover,
.home-button:hover,
.modal-content button:hover {
    background-color: #AA2D2D;   
    color: white; 
}

.home-button {
    display: block;
    text-align: center;
    padding: 12px 20px;
    background-color: #046871; 
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
    margin: 20px auto; 
    transition: background-color 0.3s ease;
}

/* Container Styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        padding: 10px; 
    }
}

/* Header and Logo */
.header {
    color: #ff4500;
    text-align: center;
    margin-top: 20px;
}

.logo {
    max-width: 250px;
    height: auto;
}

/* Welcome Message */
.welcome-message, .message {
    font-family: 'Roboto', sans-serif;
    color: #8B0000;
    font-size: 24px;
    font-weight: bold;
    text-align: justify; 
    width: 100%;
}

.auth-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.auth-section h2 {
    color: #974904;
    text-align: center;
}

.auth-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-section label {
    font-size: 16px;
    color: #555;
}

.auth-section input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input, textarea, select {
    font-family: 'Roboto', sans-serif; 
    color: #046871; 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 4px; 
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    padding-right: 30px; 
    background-image: url('data:image/svg+xml;base64,PHN2ZyB...'); 
    background-position: right 10px center;
    background-repeat: no-repeat;
}

select option {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #8B0000;
}

textarea {
    resize: vertical; 
    min-height: 100px; 
}

button {
    font-family: 'Roboto', sans-serif;
}

/* Categories Section */
.categories {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    max-width: 400px;
    width: 100%; 
    max-width: 100%;
    text-align: justify;
}

.categories h2 {
    color: #444;
    text-align: center;
    margin-bottom: 15px;
}

.categories ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.categories li {
    list-style-type: none; 
    background-color: #eee;
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: justify;
    padding-left: 0; 
}

.categories li:hover {
    background-color: #ddd;
}

.category-name {
    font-size: 28px;
    color: #8B0000; 
    font-weight: bold;
    margin-bottom: 10px;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.post {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.post-content {
    color: #555;
    font-size: 18px;
    margin-top: 5px;
}

.post-body {
    font-size: 18px;
    color: #046871; 
    margin-bottom: 10px;
    max-width: 1200px;  
}



.post-user {
    font-size: 14px;
    color: #8B0000;
    font-style: italic;
}

.post-category {
    font-size: 16px;
    font-weight: bold;
    color: #8B0000;
    margin-bottom: 15px;
}

/* Responsive layout */
@media (max-width: 768px) {
    .post-grid {
        grid-template-columns: 1fr;
    }
}

.comment {
    margin-bottom: 10px; 
    font-size: 14px; 
    line-height: 1.5;
    font-size: 0.9em; 
}

.comments-section {
    width: 100%; 
    min-height: 80px; 
    max-width: 100%;
    box-sizing: border-box; 
    padding: 10 px; 
    margin-top: 15px;
    
}

.comments-section p.message {
    width: 100%;  
    max-width: 100%;
    color: #046871; 
    box-sizing: border-box;
    margin-bottom: 10px; 
    border-radius: 5px;
    font-size: 14px;
}

.comments-section p.meta-info {
    width: 100%;  
    max-width: 100%;
    color: #8B0000;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    font-size: 0.9em;
}



.comments-section button {
    width: auto;  
    padding: 10px 20px; 
    background-color: #046871; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comments-section button:hover {
    background-color: #AA2D2D; 
}


/* General Container Styling for Forms */
.create-post-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}
    
.create-post-section input, 
.create-post-section textarea, 
.create-post-section select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}
    
.create-post-section label {
    font-size: 18px;
    color: #8B0000;
    margin-bottom: 10px;
}
    
.create-post-section button {
    padding: 12px 20px;
   background-color: #046871;
    color: white;
    font-size: 16px;
   border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    margin: 10px 0;
}
    
.create-post-section button:hover {
    background-color: #AA2D2D;
}    

.like-button, .dislike-button {
    background-color: #046871;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-button:hover, .dislike-button:hover {
    background-color: #AA2D2D;
}

.create-post-link {
    display: inline-block;
    font-size: 18px;
    color: #046871;
    text-decoration: underline;
    margin-bottom: 20px;
}

.create-post-link:hover {
    color: #AA2D2D;
}

/* Footer Styling */
.footer{
    text-align: center;
    padding: 10px;
    background-color: #046871;
    color: white !important;
    width: 100%;  
    max-width: 1200px;
    margin: 20px auto; 
    box-sizing: border-box; 
    border-radius: 8px;   
}

.footer * {
    color: white !important;
}

.footer p {
    margin: 0; 
    padding: 0;
}

.search-bar input,
.search-bar button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-sizing: border-box;
    height: 48px; 
}

.search-bar .search-input {
    width: 100%;
    padding: 0 12px; 
    font-size: 16px;
    border: none;
    height: 100%; 
    box-sizing: border-box;
    outline: none;
    background-color: white;
}

.search-bar .search-button {
    padding: 0 20px;
    font-size: 16px;
    background-color: #046871;
    color: white;
    border: none;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.search-bar .search-button:hover {
    background-color: #AA2D2D;
}

.search-form {
    display: contents; 
}

.results-container {
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: none;
    margin-top: 20px;
}

.results-container .no-results {
    color: #AA2D2D;
    font-size: 18px;
    margin-top: 10px;
}