/* Modal Button Styling */
.modal-open {
    padding: 10px 20px;
    background-color: #046871;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    
}

/* Hidden checkbox input */
input[type="checkbox"] {
    display: none;
    display: hidden;
    
}


/* Hidden Radio Buttons */
input[type="radio"] {
    display: hidden;
    display: none;
}

/* Modal Styling */
.modal {
    /*visibility: hidden; Hidden by default   */
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Show the Modal when Checked */
input[type="checkbox"]:checked ~ .modal {
    display: flex;
    font-size: 16px;
}

/* Modal Content Styling */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    max-width: 500px;
    width: 80%;
    position: relative;
}

/* Modal Overlay (clickable area outside modal) */
.modal-overlay {
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    cursor: pointer;
  }

/* Close Button Styling */
.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

/* Tab styles */
.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.auth-form {
    display: none;
}

/* Only show the login form when the login tab is active */
 #login-tab:checked ~ .tab-content #login-form {
    display: block;
    
} 

/* Only show the register form when the register tab is active */
 #register-tab:checked ~ .tab-content #register-form {
    display: block;
    
} 


.modal.open {
    display: flex; 
}

.error-message {
    color: red;
    font-size: 1.1em;
    margin-bottom: 10px;
}


form {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;   
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-family: 'Playfair Display', serif; 
    color: #6D0101;               
    font-size: 16px;
    margin-bottom: 8px;
}


input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #6D0101;  
    border-radius: 5px;         
    font-size: 16px;
    background-color: #fdfdfd;
    color: #333;
    box-sizing: border-box;     
    outline: none;
    transition: border-color 0.3s ease; 
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #AA2D2D; 
}

input[type="submit"] {
    width: 100%;
    padding: 10px 15px;
    background-color: #046871;   
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;          
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

input[type="submit"]:hover {
    background-color: #AA2D2D;   
}

input[type="submit"]:active {
    background-color: #046871;  
}