/* Modal button styling */
.modal-open {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Hidden checkbox input */
input[type="checkbox"] {
    display: none;
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Show the modal when the checkbox is checked */
input[type="checkbox"]:checked ~ .modal {
    display: flex;
}

/* Modal content */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    max-width: 500px;
    width: 80%;
    position: relative; /* Added relative positioning */
    z-index: 2; /* Bring the content above the modal background */
}

.modal-content h2 {
    margin-top: 0;
}

/* Close the modal when the Close button is clicked */
.modal-close {
    margin: 15px;
    padding: 10px 20px;
    background-color: rgb(46, 162, 157);
    color: white;
    border: none;
    cursor: pointer;
}

/* Clickable modal background */
.modal-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1; /* Make sure the label is below modal content */
}
