body {
    font-family: 'Playfair Display', serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #8B0000;
}

/* 2 columns rendering */
.posts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Автоматически распределяет по двум колонкам */
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

.posts-grid li {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.post {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.post-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style-type: none;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.post-body {
    font-size: 18px;
    color: #046871; 
    margin-bottom: 10px;
}

.post-user, .post-category {
    font-size: 14px;
    color: #8B0000;
    font-style: italic;
}

.comments-section {
    grid-column: span 2;
    width: 100%;
    margin-top: 15px;
}

/* Комментарии и кнопки */
.comments-section p.message, 
.comments-section p.meta-info {
    font-size: 14px;
    color: #046871;
}

.comments-list {
    list-style-type: none;
    padding: 0;
}

.comments-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button, .like-button, .dislike-button {
    background-color: #046871;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .like-button:hover, .dislike-button:hover {
    background-color: #AA2D2D;
}

.message {
    color: #046871;
}

.meta-info {
    color: #8B0000;
    font-size: 14px;
}

/* Adaptive */
@media (max-width: 768px) {
    .posts-grid {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }
}