.search-input {
    padding: 10px !important;
    font-size: 16px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    margin-right: 10px !important;
    height: 44px !important;
    flex-grow: 1 !important;
}

.search-button {
    padding: 10px 20px !important;
    font-size: 16px !important;
    background-color: #046871 !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    height: 44px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.search-input {
    padding: 10px !important;
    font-size: 16px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    margin-right: 10px !important;
    height: 44px !important;
    flex-grow: 1 !important;
}

.search-button {
    padding: 10px 20px !important;
    font-size: 16px !important;
    background-color: #046871 !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    height: 44px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
